<div class="container">
	<div class="jumbotron">
		<p>
			<h1>News and Comment</h1>
		</p>
	</div>

	<div class="row">

		<div class="col-md-8">
			<div class="text-center">
				<h2>Article:</h2>
			</div>

			<br/>
			{{#each articles}}
			<p id="title">{{title}}</p>
			{{!-- <p id="summary">{{article.summary}}</p> --}}
			<a id="link" href={{link}}>More Information</a>
			<br/><br/>
			{{/each}}
			<div>
				<button class="btn btn-info" type="button" id="prev_article">Prev</button>
				<button class="btn btn-info" type="button" id="next_article">Next</button>
			</div>
		</div> <!-- End col -->

		<div class="col-md-4 min-height-200">
			<div class="text-center">
				<h2>Comments:</h2>
			</div>
			<div id="comments">
			{{#each article.note}}
				{{comment}}<br/>
			{{/each}}
			</div>
			<button class="btn btn-primary" type="button" id="delete_comments">Delete</button>
		</div>

		<div class="col-md-4 min-height-200">
			<div class="text-center">
				<h2>Add comment:</h2>
			</div>
			<input type="text" class="form-control" id="new_comment" maxlength="30">
			<button class="btn btn-success" type="button" id="add_comment">Add</button>
		</div>
